<section class="container pt-3 shadow-sm bg-body rounded">
    <div class="d-flex justify-content-center mt-3">
        <h1 class="fs-1 text-primary fw-bold">Blogs list</h1>
    </div>
    <div class="d-flex justify-content-end">
        <button mat-fab color="primary" routerLink="/blogs/add">
            <mat-icon>library_add</mat-icon>
        </button>
    </div>
    <div class="row mt-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="border">
                    <th class="text-center border" [style.width.%]="5">Id</th>
                    <th class="text-center border" [style.width.%]="35">Title</th>
                    <th class="text-center border" [style.width.%]="40">Image</th>
                    <th class="text-center border"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of data" class="border">
                    <td class="text-center">
                        <div>
                            <span>{{data.id}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-center px-3">
                            <h2>{{ data.title }}</h2>
                        </div>
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-center">
                            <div class="w-50" >
                                <img src="{{API+data.image}}" alt="" class="object-fit-fill w-100" >
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="w-full h-full">
                            <div class="flex flex-row justify-content-center items-center gap-3">
                                <div>
                                    <button mat-fab color="primary" [routerLink]="'view/' + data.id">
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-fab color="primary" [routerLink]="'edit/' + data.id">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <button mat-fab color="warn" (click)="openDelDialog(data.id)" value="{{data.id}}">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>