<mat-toolbar color="primary">
  <div class="logo-group">
    <span class="blogangular">Blog Angular</span>
    <nav>
      <button mat-flat-button color="primary" [routerLink]="['']">
        Home
      </button>
      <button mat-flat-button color="primary" routerLink="/blogs">
        Blog
      </button>
    </nav>
  </div>
  <div class="button-group" *ngIf="!checkAuth(), else logOut">
    <button mat-raised-button class="button-auth" (click)="openLoginForm()">
      Login
    </button>
    <button mat-raised-button class="button-auth" (click)="openRegisterForm()">
      Register
    </button>
  </div>
  <ng-template #logOut>
    <div class="flex gap-4">
      <div *ngIf="user" class="flex gap-2">
        <div *ngIf="user.image != 'NULL'; else nullImage" class="">
          <img [src]="API+user.image" alt="" class="rounded-full h-[40px] w-[40px]">
        </div>
        <ng-template #nullImage>
            <div class="">
                <img src="../../../assets/img/man-156584__340.webp" alt="" class="rounded-full h-[40px] w-[40px] bg-white">
            </div>
        </ng-template>
        <div>
          <span>{{ user.name }}</span>
        </div>
      </div>
      <button mat-raised-button class="button-auth" (click)="onLogOut()">
        LogOut
      </button>
    </div>
  </ng-template>
</mat-toolbar>