mat-toolbar {
    justify-content: space-between;
    
    .logo-group {
        display: flex;
        
        button:first-child{
            margin-left: 16px;
        }
    }

    .button-group {
        display: flex;
        gap: 16px;
    }
    .button-auth {
        color: black;
        background-color: white;
    }
}