<section class="container">
    <div class="row">
        <div class="mt-5">
            <div class="d-flex justify-center mb-10">
                <h1 class="">
                    <span class="text-3xl font-bold">{{ data?.title }}</span>
                </h1>
            </div>
            <div [innerHTML]="data?.content">                
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="flex">
            <span class="font-bold text-[16px] text-red-400">Like this? Give a heart</span>
        </div>
        <div class="flex" #like_element>
            <mat-icon class="text-red-600" (click)="likeSubmit(data?.id, 'blog', like_element)">{{ (data?.checkLikeBlog == true) ? "favorite" : "favorite_border" }}</mat-icon>
            <span class="ml-2">{{ data?.like_count }}</span>
            <span class="ml-[3px]">
                Like
            </span>
        </div>
    </div>
</section>
<app-comments></app-comments>